.location {
  padding: 50px 100px;
  background-color: #f9ebeb;
}

.location .col:nth-child(2) {
  padding: 28px 4px;
}

.location h1 {
  margin: 24px 16px 16px;
  font-size: 26px;
}

.location h3 {
  margin: 16px;
  font-size: 16px;
}
